*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-grey-background: #7f9599;
  --color-blue-clean: #22b5cb;
  --color-bege: #b2bf50;
  --color-pink: #ed626e;
  --color-blue-dark: #2270a1;
  --color-blue-light: #1dacc0;
  --color-white-text: #ffffff;
  --color-red-text: #ed3d3d;
}

body {
  background-color: var(--color-blue-light);
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/**
#contaier{
  position: relative;
  width: 100%;
  max-width: 1300px;
}**/

/** FONTES EXTERNAS**/
@font-face {
  font-family: "Morganite";
  src: url("../fonts/Morganite-Black.ttf") format("truetype");
}
@font-face {
  font-family: "WorksansItalic";
  src: url("../fonts/WorkSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "WorksansRegular";
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "WorkSansBold";
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "WorksansMediumItalic";
  src: url("../fonts/WorkSans-MediumItalic.ttf") format("truetype");
}

/** PARTES PRINCIPAIS **/
.secao{
  background-repeat: no-repeat;
  max-width: 1300px;
  width: 100%;
}

.first {
  background-image: url("../imagens/bg_azul_topo.png");
}
.second {
  background-image: url("../imagens/bg_rosa_maior.png");
}
.third {
  background-image: url("../imagens/bg_verde.png");
}
.four {
  background-image: url("../imagens/bg_azul_t4.png");
}
.five {
  background-image: url("../imagens/bg_rosa.png");
}

/** ELEMENTOS **/

.aviao {
  background-repeat: no-repeat;
  transition: all 0.7s ease;
  margin: 0 0 0 20vh;
  animation: Fly 1s;
}

.aviao:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/**atributo comum entre imagens **/
.img {
  float: left;
}
/**redimensionar imagem**/
.resizeImg{
  max-width:250px;
  max-height:200px;
}
.img1 {
  margin: 0 0 0 5vh;
}
.img2 {
  margin: 1vh 0 0 5vh;
}
.img3 {
  margin: 0 0 0 15vh;
}
.img4 {
  margin: 2vh 0 0 15vh;
  }

.img5 {
  margin: 5vh 0 0 10vh;
}
.img6 {
  margin: 8vh 0 0 0;
}
#DivImg6{
  position:relative;
}
.img7 {
  margin: 0 0 0 70vh;
}
.img8 {
  margin: 5vh 0 0 10vh;
  float: left;
}
.img9{
  max-width:350px;
  max-height:300px;
  width: auto;
  height: auto;
  float: left;
  margin: 0 0 0 5vh;
}
.img10{
  margin: 5vh 0 0 10vh;
  float: left;
}
.img11{
  margin: 0 0 0 10vh;
  max-width:150px;
  max-height:100px;
}
.img12{
  margin: 0 0 0 9.5vh;
  max-width:150px;
  max-height:100px;
}
.img13{
  margin: 0 0 0 8vh;
  max-width:150px;
  max-height:100px;
}

.retangulo1 {
  width: 900px;
  height: 125px;
  background-color: #ffffff;
  border-radius: 50px;
  margin: 10vh 0 0 30vh;
}
.retangulo1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.retangulo2 {
  height: 125px;
  background-color: #ffffff;
  margin: 35vh 0 0 0;
  width: 98.4%;
}
.retangulo3 {
  width: 900px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 70px;
  margin: 5vh 0 0 25vh;
  padding-top: 0.2vh;
}
.retangulo3:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.retanguloConsumidor {
  height: 125px;
  background-color: #ffffff;
  margin: 75vh 0 0 0;
  width: 98.5%;
}
.retangulo4 {
  width: 370px;
  height: 7px;
  background-color: #ed3d3d;
  border-radius: 50px;
  margin: 0 0 0 30vh;
  float: left;
}
.retangulo5 {
  width: 98.5%;
  height: 290px;
  background-color:#2270a1;
  margin: 5vh 0 0 0;
  float: left;
}
.retangulo6{
  width: 120vh;
  height: 30vh;
  background-color: #ffffff;
  border-radius: 70px;
  margin: 25vh 0 5vh 20vh;
  padding-top: 0.2vh;
  opacity: 0.8;
}
.retangulo6:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.retangulo7{
  width: 100vh;
  height: 15vh;
  background-color: #ffffff;
  border-radius: 80px;
  margin: 2vh 0 2vh 23vh;
  opacity: 0.8;
  padding-top: 0.2vh;
}
.retangulo7:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.retangulo8{
  width: 98.5%;
  height: 280px;
  background-color: #b2bf50;
  margin: 0 0 0 0;
  float: left;
}
.textoRetangulo1 {
  font-family: "WorksansRegular";
  font-size: 1.5em;
  color: var(--color-blue-dark);
  margin: 3.5vh 0 0 0;
  float: left;
}

.divbotao1{
  position: relative;
  float: left;
}
.divBotao2{
  position:relative;
}
.botaoA{
  background-color: #ed3d3d;
  border-radius: 20px;
  max-width: 60h;
  padding-left: 2vh;
  padding-right: 2vh;
  margin: 5vh 0 0 10vh;
  float: left;
}
.botaoA:hover{
  background-color:var(--color-blue-dark);
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.botaoB{
  background-color: #ed3d3d;
  border-radius: 20px;
  max-width:40vh;
  padding-left: 4vh;
  margin: 5.8vh 0 0 50vh;
}
.botaoC{
  background-color: #2270a1;
  border-radius: 20px;
  max-width: 60h;
  padding-left: 2vh;
  padding-right: 2vh;
  margin: 0 0 0 13vh;
  max-width: 50vh;
}
.botaoC:hover{
  background-color:var(--color-blue-dark);
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.botao2{
  width: 70vh;
  height: 5vh;
  background-color: #ed3d3d;
  border-radius: 20px;
  text-align: center;
  margin: 0 0 0 43vh;
}
.botao2:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.botao3{
  background-color:var(--color-blue-dark);
  border-radius: 20px;
  max-width: 60vh;
  padding-left:7vh;
  margin: 0 0 0 50vh;
}
.botao3:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/**
.linkConsumidor{
  background-color: #2270a1;
  border-radius: 20px;
}
.linkConsumidor:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}**/

/**  CIRCULOS **/
.circA{
  border-radius: 100%;
  height: 100px;
  width: 100px;
  float: left;
}
.circA p{
  margin:4vh 0 0 5vh;
}
.circB{
  border-radius: 100%;
  height: 100px;
  width: 100px;
  float: left;
}
.circB p{
  margin:3vh 0 0 3vh;
}
.circ1 {
  background-color: #ed3d3d;
  margin: 2vh 0 0 7vh;
}
.circ2 {
   background-color: #b2bf50;
   margin: 4vh 0 0 -2vh;
}
 .circ3 {
  background-color: #2270a1;
  margin: 2vh 0 0 -2vh;
}
.circ4 {
  background-color: #ed3d3d;
  margin: 4vh 0 0 -2vh;
}
.circ5 {
 background-color: #b2bf50;
 margin: 2vh 0 0 -2vh;
}
.circ6 {
   border: 10px solid #2270a1;
   background-color:#ffffff;
   margin: 4vh 0 0 -2vh;
}
 .circ7 {
  border: 10px solid #ed3d3d;
  background-color:#ffffff;
  margin: 2vh 0 0 -2vh;
}
.circ8 {
  border: 10px solid #b2bf50;
  background-color:#ffffff;
  margin: 4vh 0 0 -2vh;
}
.circ9 {
  border: 10px solid #2270a1;
  background-color:#ffffff;
  margin: 2vh 0 0 -2vh;
}
.circ10 {
  border: 10px solid #ed3d3d;
  background-color:#ffffff;
  margin: 4vh 0 0 -2vh;
}

/** LINKS **/
.tituloB a{
  text-decoration: none;
  color: white;
}
.titulo20 a{
  text-decoration: none;
  color: #ed3d3d;
}
.tituloC a{
  text-decoration: none;
  color: #2270a1;
}


/**Atributos comuns entre textos **/
.tituloA {
  font-family: "Morganite";
  color: var(--color-white-text);
  float: left;
}
.tituloB{
  font-family: "WorksansRegular";
  color: var(--color-white-text);
  font-size: 2em;
}
.tituloC{
  font-family: "WorksansRegular";
  color: var(--color-blue-dark);
  font-size: 2em;
}
.tituloD{
  font-family: "WorksansMediumItalic";
  font-size: 2.3em;
  margin: 5vh 0 0 35vh;
  max-width: 600px;
}
.tituloE{
  font-family: "WorksansRegular";
  color: var(--color-red-text );
  font-size: 2em;
}
.tituloF{
  font-family: "WorksansRegular";
  color: var(--color-bege);
  font-size: 2em;
}
.titulo1 {
  font-family: "WorksansItalic";
  color: var(--color-red-text);
  font-size: 5em;
  margin: 10vh 0 0 10vh;
  max-width: 330px;
}
.titulo2 {
  font-size: 15em;
  margin: 0 0 0 10vh; 
}
.titulo3  {
  margin: 8vh 0 0 40vh;
  margin-top: 10vh;
}
.titulo4{
  font-family: "WorksansMediumItalic";
  color: var(--color-blue-dark);
  font-size: 2em;
  margin: 5vh 0 0 35vh;
  max-width: 35vh;
}
.titulo5{
  font-size: 8em;
  margin: 0 0 0 35vh; 
}
.titulo6{
  font-family: "WorksansRegular";
  color: var(--color-blue-dark);
  font-size: 2em;
  float: left;
  margin: 5vh 0 0 8vh;
}
.span1{
  font-family: "WorkSansBold";
}
.titulo7{
  margin: 13vh 0 0 40vh;
}
.titulo8{
  margin: 10vh 0 10vh 10vh;
  float: left;
}

#divTitulo8{
  position: relative;
  float: left;
}
.titulo9{
  font-family: "Morganite";
  color: var(--color-blue-dark);
  font-size: 6em;
  margin: 3vh 0 0 25vh; 
}
.titulo10{
  background-color: #ed3d3d;
  border-radius: 20px;
  max-width: 70vh;
  padding: 0.5vh 0 0.5vh 7vh;
  margin: 0 0 0 42vh;
}
.titulo11{
  font-family: "Morganite";
  color: var(--color-white-text);
  font-size: 8em;
  margin: 0 0 0 35vh; 
}
.titulo12  {
  margin: 2vh 0 0 50vh;
}
.titulo13 {
  margin: 5vh 0 0 10vh;
  float: left;
}
.titulo14 {
  color: var(--color-blue-dark);
}
.titulo15 {
  color: var(--color-red-text);
}
.titulo16 {
  font-family: "Morganite";
  color: var(--color-white-text);
  font-size: 8em;
  margin: 0 0 0 35vh; 
}
.titulo17{
  float: left;
  margin: 0 0 0 15vh;
}
.titulo18{
  margin: 5vh 0 0 70vh;
}
.titulo19{
  margin: 20vh 0 0 65vh;
  font-size: 2.2em;
}
.titulo20{
  font-family: "Morganite";
  color: var(--color-red-text);
  font-size: 8em;
  float: left;
  margin: 0 0 0 30vh;
}
.titulo21{
  font-family: "WorksansRegular";
  color: var(--color-red-text);
  font-size: 2em;
  margin: 22vh 0 0 10vh;
}
.titulo22{
  margin: 5vh 0 0 29vh;
}
.titulo23{
  margin: 0 0 0 25vh;
}
.titulo24{
  margin: 3vh 0 0 4vh;
  font-size: 1.6em;
}
.titulo25{
  font-family: "Morganite";
  color: var(--color-white-text);
  font-size: 5em;
  margin: 0 0 0 45vh;
}
.titulo26{
  font-family: "WorksansRegular";
  color: var(--color-blue-dark);
  font-size: 1.5em;
  margin: 10vh 0 0 35vh;
}
.titulo27{
  font-family: "Morganite";
  color: var(--color-white-text);
  font-size: 5em;
  margin: 0 0 0 70vh;
}
.titulo28{
  font-family: "WorksansRegular";
  color: var(--color-blue-dark);
  font-size: 1.8em;
  margin: 2vh 0 0 20vh;
}
.span2{
  color: var(--color-white-text);
}

footer {
  background-color: var(--color-blue-dark);
  width: 100%;
}

.logo {
  display: block;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  max-width:200px;
  max-height:150px;
}

/** ANIMAÇÃO COM CSS **/

@keyframes Fly {
  100%{
    transform: translateX()calc(100vw - 365px);
    }

}

/** animação com js **/
.img-right {
  text-align: right;
}

.anime {
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: 0.3s;
}

.anime-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.grid-text {
  width: calc(60% - 40px);
}

.grid-img {
  width: calc(40% - 40px);
}